.chbg{
    text-align: center;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;   
}

.page-container {
    display: flex;       
    min-height: 100px;  
}

.sidebar {
    width: 15%;           
    background-color: #333; 
    padding: 10px;  
    padding-left: 0px;      
    flex-shrink: 0;         
    border-right: 3px solid black; 
    position: sticky;
    top: 60px;           /* Stick to the very top edge of the screen */
    height: 100%;    /* Make it fill the full height of the view */
    overflow-y: hidden;
    padding-bottom: 5px;
}

.sidebar a {
    display: block;         /* isse vertically aaate hai */
    color: #fff;           
    text-decoration: none;  
    padding: 18px 0;     /*vertical,horizontal*/
    font-size: 20px;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #444; 
    transition: 0.3s;       
}

.sidebar a:hover {
    background-color: #555;
    color: #d4af37;         
    padding-left: 30px;     
}


.desc {
    flex-grow: 1;          
    padding: 40px;          
}


*{
    scroll-behavior: smooth;
    scroll-margin-top: 140px;
}

#desc{
    margin: 50px;
}


/* body { font-family: sans-serif; padding-bottom: 500px; } */
.search-area { 
    position: fixed; 
    top: 0; 
    left: 0; 
    background: white; 
    width: 100%; 
    padding: 20px; 
    border-bottom: 2px solid #ccc; 
}

.character-section { 
    margin-top: 100px; 
    padding: 20px; 
    border: 1px solid #ddd; 
    margin-bottom: 20px; 
    border-radius: 8px;
}

body {
    background-image: url('images/bg.jpg');
    
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#desc p{
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.info-container {
    display: flex;           
    align-items: center;     
    gap: 200px;               
}

.info-container p {
    flex: 1;                 
    margin: 0;               
    
}


.char-img {
    width: 200px;    
    height: 260px;     
    object-fit: cover;    
    border-radius: 10px;  
    border: 2px solid #444;  

}

#desc h3{
    font-size: 30px;
}

#desc h1{
    font-family: "Crimson Text", serif;
    font-weight: 800;
    font-size: 45px;
    font-style: italic;
}

.chrc h3 {
    margin-bottom: 0; 
    margin-top: 30px; 
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

.left-content {
    flex: 1; /* Takes up all available space */
    padding-right: 20px;
}

.stat-table {
    margin-top: 15px;
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* Prevents it from getting too wide */
    /* background-color: #fff; */
    /* border: 1px solid #3f3f3f; */
    border-radius: 5px;
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.stat-table td {
    padding: 5px 10px;
    /* border-bottom: 1px solid #3f3f3f; */
}

.stat-table strong {
    color: #000000; 
}


#head{
    text-align: center;
    font-size: 75px;
    font-family: "Cinzel";
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url("E:\WhatsApp Image 2025-10-30 at 20.04.36_da2a5d16.jpg");
    color: white;
    background-size: 600px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200px;    
}

.navbar1 ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    /* width: 100%; */
    border-top: 2px solid black;    
    border-bottom: 2px solid black; 
    justify-content: space-evenly;
}

.navbar1 a{
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: "MedievalSharp","Cinzel",serif;
}

.navbar1 a:hover{
    background-color: rgb(0, 0, 0);
    /* padding-left: 50px;
    padding-right: 50px; */
    cursor: pointer;
}

.navbar1 li{
    float: left;
}

body{
    margin: 0px;
    background-color: #f8f5e6;
    font-family: sans-serif;
}

a:link{
    color: white;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: #FFD700;
}

a:active{
    color: #0000FF;
}
